{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Galerie{% endblock %}

{% block body %}
    <section id="food-menu">
        <div class="container">
            <header class="section-header">
                <h1 class="mb-5">~ Galerie photos ~</h1>
            </header>
            <div class="row mt-4">
            
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/burritos.jpg")}}"/>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/ceviche.jpg")}}"/>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/enchilada.jpg")}}" />
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/tacos-beef.jpg")}}" />
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/chilaquiles.jpg")}}" />
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/quesadillas.jpg")}}" />
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/tostadas.jpg")}}" />
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/tacos.jpg")}}" />
                    </div> 
                </div>
            
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/carlota.jpg")}}"/>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/horchata.jpg")}}"/>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/poisson4.jpg")}}" />
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="single-menu">
                        <img class="img-fluid" src="{{asset("build/images/poisson3.jpg")}}" />
                    </div>
                </div>
                
            </div>
        <div id="welcome">                
            <a href="{{ path("app_reservation") }}">Réserver</a>
        </div>    
    </section>
    {{ include("_partials/_contact.html.twig", {'openingTimes': openingTimes, 'restaurant': restaurant}) }}
{% endblock %}
